* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 20px verdana, sans-serif;
}

h2 {
    font: bold 14px verdana, sans-serif;
    margin-bottom: 10px;
}

a {
    text-align: center;
    padding-left: 20px;
    padding-bottom: 30px;
}
th{
    padding: 10px;
}

div#general{
    margin: auto;
    margin-top: 30px;
    width: 1060px;
    height: 700px;
    background-color: white;
}

div#header1{
    width: auto;
    height: 50px;
    text-align: center;
    background: #CFEBB9;
    border: 1px solid #999999;
    padding: 20px;
}

div#nav1{
    float: left;
    width: 290px;
    height: 560px;
    margin-top: 20px;
    background-color: #CFEBB9;
    border: 1px solid #999999;
    padding: 20px;
}

div#content1{
    float: right;
    margin-top: 20px;
    width: 720px;
    height: 540px;
    background-color: #CFEBB9;
    border: 1px solid #999999;
}

div#footer1{
    float: right;
    margin-top: 10px;
    width: 720px;
    height: 50px;
    background: #CCCCCC;
}

#pie {
    clear: both;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #999999;
}

#tabla-alumnos {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabla-alumnos th, #tabla-alumnos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #tabla-alumnos tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #tabla-alumnos th {
    background-color: #4CAF50;
    color: white;
  }